/*  RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/* HEADER */
.header-top {
    background-color: #add8e6;
    padding: 15px 0;
}

.header-bottom {
    background-color: #001e83;
    padding: 30px 0;
}

.header-top > .container {
    display: flex;
    background-color: #daa520;
}

.header-top > * {
    border: 1px dashed black;
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}
.header-top .login {
    text-align: right;
}

.header-top nav {
    width: 60%;
    text-align: center;
}

.col-center {
    background-color: #ee82ee;
    min-height: 200px;
    width: 800px;
    border: 1px dashed;
}

/* MAIN */
main {
    padding: 30px 0;
}

.section {
    padding: 30px 0;
}

.col-big {
    background-color: #1f90ff;
    min-height: 250px;
    width: 1000px;
    border: 1px dashed;
}

.col-small {
    background-color: #ffc0cb;
    min-height: 250px;
    width: 400px;
    border: 1px dashed;
}

.second-section {
    background-color: lightgray;
    padding: 30px 0;
}

.col-green {
    background-color: #228b22;
    min-height: 600px;
    width: 1200px;
    border: 1px dashed;
}

.footer-section {
    background-color: #22272a;
    padding: 30px 0;
}

.col-big-red {
    background-color: #ef8080;
    min-height: 500px;
    width: 500px;
    border: 1px dashed;
}

.col-small-green{
    background-color: #21b2aa;
    min-height: 500px;
    width: 15%;
    border: 1px dashed;
}